extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Settings
          li.breadcrumb-item Configurations
          li.breadcrumb-item Master Data
          li.breadcrumb-item.active Vehicles
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Vehicles
                    .card-body   
                      != messages()  
                      table.table.table-striped
                        thead
                          tr
                            th Actions
                            th Plate
                            th Device
                            th Chassis
                            th Customer
                            th Motor
                            th Active                            
                        tbody                                                  
                             each vehicle in list
                              - var devname = vehicle.device.device;
                              - var custname = vehicle.customer.fullname;
                              tr
                                td 
                                  .form-group
                                    form.form-horizontal(action='/vehicles/delete/#{vehicle.id}', method='post')                                      
                                      a(href='/vehicles/edit/#{vehicle.id}')
                                        button(type='button', style='background-color:transparent; border-color:transparent;')
                                          i.fa.fa-edit                                                                                                              
                                      span                                      
                                      button(type='submit', style='background-color:transparent; border-color:transparent;')
                                        i.fa.fa-remove  
                                td #{vehicle.plate}
                                td #{devname} 
                                td #{vehicle.vin}
                                td #{custname}
                                td #{vehicle.motor} 
                                td #{ativo = vehicle.active==true?'Yes':'No' }                                                                                            
                       if (pages > 1)
                        ul.pagination
                          != createPagination(pages, page)  
                      a(href='/vehicles/new', target='_top')    
                       button.btn.btn-primary.btn-sm(type='button') New