extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configurações
          li.breadcrumb-item Parâmetros
          li.breadcrumb-item Perfil de Usuário
          li.breadcrumb-item.active Detalhes
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-edit
                      |  Perdil de Usuário - Detalhes
                    .card-body   
                      != messages()  
                      form.form-horizontal(action='/profiles/delete/#{profiles.id}', method='post') 
                        .form-group
                          label.form-control-label(for='userProfile') Perfil
                          .controls
                            .input-group
                              input#userProfile.form-control(size='16', type='text', value='#{profiles.userProfile}', readonly=true)                       
                        .form-group
                          label.form-control-label(for='ProfileDescription') Descrição
                          .controls
                            .input-group
                              input#ProfileDescription.form-control(size='100', type='text', value='#{profiles.ProfileDescription}', readonly=true) 
                        .form-group
                          label.col-md-3.form-control-label(for='activedYN') Ativo?
                          .controls
                            .col-md-9
                              select#active.form-control-sm(name='active', disabled=true)
                                option(value='true', selected=profiles.active == true) Sim
                                option(value='false', selected=profiles.active == false) Não
                        .form-group
                          label.form-control-label(for='createdAt') Criado em
                          .controls
                            .input-group
                              input#createdAt.form-control(size='16', type='text', readonly=true, value='#{profiles.createdAt}')                                                                                                              
                        .form-actions                          
                          a(href='/profiles/edit/#{profiles.id}') 
                            button.btn.btn-sm.btn-success(type='button')
                              i.fa.fa-edit
                              |  Editar   
                            span    
                          button.btn.btn-sm.btn-primary(type='submit')
                            i.fa.fa-delicious
                            |  Deletar   
                          span         
                          a(href='/profiles')                
                            button.btn.btn-sm.btn-info(type='button')
                              i.fa.fa-backward
                              |  Voltar a lista                               