extends ../layout/default

block scripts
  script(src='/js/effects.js')

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Management
          li.breadcrumb-item Receive
          li.breadcrumb-item.active by Manual (Lakes)  - Compliance Hint (Sheet 18 - Form E.1 11)
        .container-fluid
          .animated.fadeIn            
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-cube
                      |  Lot Data
                    .card-body                                              
                      != messages()
                      form.form-horizontal(action='/lots/save', method='post')
                        input#active(type='hidden', name='active')
                        input#species(type='hidden', name='species')
                        input#description(type='hidden', name='description')
                        input#suppliernm(type='hidden', name='suppliernm')   
                        input#serial(type='hidden', name='serial')                      
                        .col-md-12.mb-8
                          ul.nav.nav-tabs(role='tablist')
                            li.nav-item
                              a.nav-link.active.show(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Lot Info.
                            li.nav-item
                              a.nav-link(data-toggle='tab', href='#driver', role='tab', aria-controls='driver', aria-selected='false') Driver
                            li.nav-item
                              a.nav-link(data-toggle='tab', href='#serials', role='tab', aria-controls='serials', aria-selected='false') Serials                            
                            li.nav-item
                              a.nav-link(data-toggle='tab', href='#farminfo', role='tab', aria-controls='farminfo', aria-selected='false') Farm Info.
                          .tab-content
                            #home.tab-pane.active.show(role='tabpanel')
                              .form-group
                                label.form-control-label(for='lotno') Lot No
                                .controls
                                  .input-group
                                    input#lotno.form-control(name='lotno',size='100', type='text',value='#{nextlot}')
                              .form-group
                                label.form-control-label(for='product') Product
                                .controls
                                  .input-group
                                    select#product.form-control(name='product')
                                      option(value='') No Selection
                                      if (products)
                                        each product in products
                                          option(value='#{product.product}') #{product.product} - #{product.species} - #{product.description} 
                                    script(type='text/javascript').
                                      $(document).ready(function(){
                                          $('#product').on('change',function(){
                                              var productfulldesc = $("#product option:selected").text().split(" - ",3);
                                              $('#description').val(productfulldesc[2]);
                                              $('#species').val(productfulldesc[1]);
                                          });
                                      });      
                              .form-group
                                label.form-control-label(for='status') Status
                                .controls
                                  .input-group
                                    input#status.form-control(name='status',size='100', type='text', value='#{lotstatus}', readonly=true)   
                            #driver.tab-pane(role='tabpanel')
                             .card.card-accent-primary
                              .card-header
                                | Cargo Info
                              .card-body    
                                .form-group
                                  label.form-control-label(for='drivername') Driver
                                  .controls
                                    .input-group
                                      select#drivername.form-control(name='drivername')
                                        if (drivers)
                                          each driver in drivers
                                            option(value='#{driver.id}') #{driver.name} 
                                .form-group
                                  label.form-control-label(for='plate') Vehicle
                                  .controls
                                    .input-group
                                      select#plate.form-control(name='plate')
                                        if (vehicles)
                                          each vehicle in vehicles
                                            option(value='#{vehicle.id}') #{vehicle.plate} 
                                .form-group
                                  label.form-control-label(for='suppliercity') Supplier Source
                                  .controls
                                    .input-group
                                      select#suppliercity.form-control(name='suppliercity', placeholder='City')
                                        option(value='NIQUELANDIA-GO') NIQUELANDIA-GO   
                                .form-group
                                  label.form-control-label(for='supplier') Supplier
                                  .controls
                                    .input-group
                                      select#supplier.form-control(name='supplier') 
                                        option(value='') No Selection
                                        if (suppliers)
                                          each supplier in suppliers
                                            option(value='#{supplier.id}') #{supplier.name} 
                                      script(type='text/javascript').
                                        $(document).ready(function(){
                                            $('#supplier').on('change',function(){
                                                var supplierfulldesc = $("#supplier option:selected").text();
                                                $('#suppliernm').val(supplierfulldesc);
                                            });
                                        });
                                .col-md-2
                                  .form-group
                                    label.form-control-label(for='date') Expenditure Date
                                    .controls
                                      .input-group
                                        #expdate.input-group.date
                                          input.form-control(type='text',name='expdate')
                                          span.input-group-addon
                                            span.fa.fa-calendar
                                        script(type='text/javascript').
                                          $(function () {
                                            $('#expdate').datetimepicker({
                                              format: 'L',
                                              icons: {
                                                  time: "fa fa-clock-o",
                                                  date: "fa fa-calendar",
                                                  up: "fa fa-arrow-up",
                                                  down: "fa fa-arrow-down"
                                              }
                                            });
                                          });  
                                .form-group
                                  label.form-control-label(for='cargotype') Cargo Type
                                  .controls
                                    .input-group
                                      select#cargotype.form-control(name='cargotype')
                                        option(value='TRANSFISH') Transfish  
                                        option(value='ISOTHERMAL') Isothermal 
                                .form-group
                                  label.form-control-label(for='sanitybexpedit') Sanitary Condition before Expediture
                                  .controls
                                    .input-group
                                      select#sanitybexpedit.form-control(name='sanitybexpedit', placeholder='City')
                                        option(value='SATISFIES') Satisfies 
                                        option(value='NSATISFIES') Not Satisfies
                            #serials.tab-pane(role='tabpanel')
                             .card.card-accent-primary
                              .card-header
                                | Serials
                              .card-body    
                                .form-group
                                  label.form-control-label(for='serials') Add Serials
                                  .controls
                                    .input-group                                      
                                      input#serialone.form-control(name='serialone', type='text') 
                                      button#btnaddserial.btn.btn-sm.secondary(name='btnaddserial',type='button',onclick='setSerialList()') Add   
                                      button#btnaddserial.btn.btn-sm.warning(name='btndelserial',type='button',onclick='unsetSerialList()') Delete   
                                    .input-group
                                      select#seriallist.form-control-sm(name='seriallist',size='5', multiple='')                                           
                            #farminfo.tab-pane(role='tabpanel')  
                              .card.card-accent-primary
                                .card-header
                                  | Farm
                                .card-body  
                                  .form-group
                                      label.form-control-label(for='croptype') Type of Crop
                                      .controls
                                        .input-group
                                          select#croptype.form-control(name='croptype')
                                            option(value='net') Net tank  
                                            option(value='excavated') Excavated tank 
                                  .form-group
                                    label.form-control-label(for='cropdays') Crop Days
                                    .controls
                                      .input-group
                                        input#cropdays.form-control(name='cropdays',size='20', type='number') 
                                  .form-group
                                    label.form-control-label(for='watertemp') Water Temp. (°C)
                                    .controls
                                      .input-group
                                        input#watertemp.form-control(name='watertemp',size='20', type='number', step='.01')      
                                  .form-group
                                    label.form-control-label(for='tanknumber') Tank Number
                                    .controls
                                      .input-group
                                        input#tanknumber.form-control(name='tanknumber',size='100', type='number')
                                  .form-group
                                    label.form-control-label(for='food') Food
                                    .controls
                                      .input-group
                                        input#food.form-control(name='food',size='100', type='text')    
                                  .form-group
                                    label.form-control-label(for='weigth') Average Weigth(g) 
                                    .controls
                                      .input-group
                                        input#weigth.form-control(name='weigth',size='100', type='number')    
                                  .form-group
                                    label.form-control-label(for='boxqty') Box Quantities 
                                    .controls
                                      .input-group
                                        input#boxqty.form-control(name='boxqty',size='100', type='number', min=0)  
                                  .form-group
                                    label.form-control-label(for='fingerlingssource') Fingerlings Source 
                                    .controls
                                      .input-group
                                        input#fingerlingssource.form-control(name='fingerlingssource',size='100', type='text')                 
                                  .form-group
                                    label.form-control-label(for='sourcelot') Source Lot
                                    .controls
                                      .input-group
                                        input#sourcelot.form-control(name='sourcelot',size='100', type='text')                       
                                  .form-group
                                    label.form-control-label(for='treats') Treats Occurance
                                    .controls
                                      .input-group
                                        input#treats.form-control(name='treats',size='100', type='text')             
                                  .form-group
                                    label.form-control-label(for='fasting') Fasting on property(hour)
                                    .controls
                                      .input-group
                                        input#fasting.form-control(name='fasting',size='100', type='number', min=0)  
                                  .form-group
                                      label.form-control-label(for='expedituresatisfactory') Does expediture was satisfactory
                                      .controls
                                        .input-group
                                          select#expedituresatisfactory.form-control(name='expedituresatisfactory')
                                            option(value='yes') Yes  
                                            option(value='no')  NO   
                                  .form-group
                                      label.form-control-label(for='despescaconditions') Medicin applied during Harvest?
                                      .controls
                                        .input-group
                                          select#despescaconditions.form-control(name='despescaconditions')
                                            option(value='yes') Yes  
                                            option(value='no')  NO 
                                        .input-group
                                            input#fasting.form-control(name='despescaconditionsdrugs',size='100', type='text')  
                                  .form-group
                                    label.form-control-label(for='graceperiod') Grace Period (hour)
                                    .controls
                                      .input-group
                                        input#graceperiod.form-control(name='graceperiod',size='20', type='number', min=0)  
                                  .form-group
                                    label.form-control-label(for='udate1') Utilization Period
                                    .container
                                      .col-md-2
                                        .form-group
                                          #udate1.input-group.date
                                            input.form-control(type='text',name='udate1')
                                            span.input-group-addon
                                              span.fa.fa-calendar
                                      .col-md-2
                                        .form-group
                                          #udate2.input-group.date
                                            input.form-control(type='text',name='udate2')
                                            span.input-group-addon
                                              span.fa.fa-calendar
                                    script(type='text/javascript').
                                      $(function () {
                                        $('#udate1').datetimepicker({
                                           format: 'L'
                                        });
                                        $('#udate2').datetimepicker({
                                          format: 'L'
                                        });
                                      });  
                                  .form-group
                                    label.form-control-label(for='mortalityrate') Mortality during that Period (%)
                                    .controls
                                      .input-group
                                        input#mortalityrate.form-control(name='mortalityrate',size='20', type='number', min=0, max=100)                                                
                                  .form-group
                                      label.form-control-label(for='dissolvedoxygen') Dissolved Oxygen
                                      .controls
                                        .input-group
                                          select#dissolvedoxygen.form-control(name='dissolvedoxygen')
                                            option(value='yes') Yes  
                                            option(value='no')  No 
                                  .form-group
                                    label.form-control-label(for='animaltransitguide') Animal Transit Guide
                                    .controls
                                      .input-group
                                        input#animaltransitguide.form-control(name='animaltransitguide',size='100', type='text')                 
                              .form-actions
                                button.btn.btn-sm.primary(type='submit') Save
                                span
                                a(href='/receive/manual') 
                                button.btn.btn-sm.secondary(type='button') Cancel                                                                                  