extends ../layout/default

block scripts
  script(src='/js/effects.js')
block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Management
          li.breadcrumb-item Transport
          li.breadcrumb-item.active Position
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-6
                  .card
                    .card-header
                      i.fa.fa-qrcode
                      |  Sales Order Search
                    .card-body 
                          .controls
                            .input-group
                              span.input-group-prepend
                                button.btn.btn-primary(type='button',onclick='getSOByTAG()')
                                  i.fa.fa-search
                                  |  Search
                              input#tag.form-control(type='text ', name='tag', placeholder='Order')  
            .row
              .col-md-6
                  .card
                    .card-header
                      i.fa.fa-edit
                      |  New Tracking Position
                    .card-body                                              
                      != messages()
                      form.form-horizontal(action='/processing/positions/save', method='post')
                        input#sono(name='sono',type='hidden')
                        .form-group
                          label.form-control-label(for='sonm') Sales Order
                          .controls
                            .input-group
                              input#sonm.form-control(name='sonm',size='10', type='text', readonly=true)
                        .form-group
                          label.form-control-label(for='lat') Latitute
                          .controls
                            .input-group
                              input#lat.form-control(name='lat',size='20', type='number', value="0", step="0.000001")  
                        .form-group
                          label.form-control-label(for='lon') Longetude
                          .controls
                            .input-group
                              input#lon.form-control(name='lon',size='20', type='number', value="0", step="0.000001")  
                        //- .form-group
                        //-   label.form-control-label(for='vehicle') Vehicle
                        //-   .controls
                        //-     .input-group
                        //-       select#vehicle.form-control-sm(name='vehicle')
                        //-         if (vehicles)
                        //-           each vehicle in vehicles
                        //-             option(value='#{vehicle.id}') #{vehicle.plate}   
                        //- .form-group
                        //-   label.form-control-label(for='vehicle') Transporter
                        //-   .controls
                        //-     .input-group
                        //-       select#vehicle.form-control-sm(name='supplier')
                        //-         if (suppliers)
                        //-           each supplier in suppliers
                        //-             option(value='#{supplier.id}') #{supplier.name}  
                        .form-group
                          label.form-control-label(for='blockchain') Blockchain
                          .controls
                            .input-group
                              input#blockchain.form-control(name='blockchain',size='100', type='text', readonly=true )                                 
                        .form-group
                          label.form-control-label(for='active') Active?
                          .controls
                            .input-group
                              select#active.form-control-sm(name='active')
                                option(value='true') Yes
                                option(value='false') No                                                   
                        .form-actions
                          button.btn.btn-sm.primary(type='submit') Save
                          span
                          a(href='/processing/positions') 
                           button.btn.btn-sm.secondary(type='button') Cancel                                                                       