extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Settings
          li.breadcrumb-item Configurations
          li.breadcrumb-item.active Customers
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Customers
                    .card-body   
                      != messages()  
                      table.table.table-striped
                        thead
                          tr
                            th Actions
                            th Business Name  
                            th eMail
                            th CPF / CNPJ
                            th Address
                            th District
                            th City
                            th State/Province
                            th Active                            
                        tbody                                                  
                             each customer in list
                              tr
                                td 
                                  .form-group
                                    form.form-horizontal(action='/customers/delete/#{customer.id}', method='post')                                      
                                      a(href='/customers/edit/#{customer.id}')
                                        button(type='button', style='background-color:transparent; border-color:transparent;')
                                          i.fa.fa-edit                                                                                                              
                                      span                                      
                                      button(type='submit', style='background-color:transparent; border-color:transparent;')
                                        i.fa.fa-remove 
                                td #{customer.fullname}
                                td #{customer.email} 
                                td #{customer.businesscode}
                                td #{customer.address1}                                
                                td #{customer.district}
                                td #{customer.city}
                                td #{customer.province}  
                                td #{ativo = customer.active==true?'Yes':'No' }                                                                                             
                       if (pages > 1)
                        ul.pagination
                          != createPagination(pages, page)  
                      a(href='/customers/new', target='_top')    
                       button.btn.btn-primary.btn-sm(type='button') New